body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column; /* Change flex-direction to column */
}

h1 {
    color: #007bff;
}

.container {
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}

.result-container {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    text-align: center;
    white-space: nowrap; /* Prevent data from wrapping */
}

table {
    width: 50%;
    margin-top: 20px;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Add some styling to the table rows for better visibility */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}
